.cBanner {
  padding-bottom: 1rem;
  background: var(--background);
}
.cbWrapper {
  width: 100%;
  height: 100vw;
  position: relative;
}
.cBanner-video,
.cBanner-image {
  display: none;
}
.cBanner-image-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cBanner-image {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cBanner {
    padding-bottom: 2rem;
  }
  .cbWrapper {
    height: 40vw;
  }
  .cBanner-video,
  .cBanner-image {
    display: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cBanner-image-mobile{
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .cBanner {
    padding-bottom: 2rem;
  }
  .cbWrapper {
    height: 32vw;
  }
  .cBanner-video,
  .cBanner-image {
    display: initial;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .cBanner-image-mobile{
    display: none;
  }
}
