.sortHelper{
    position: relative;
    max-width: 100%;
    background: linear-gradient(0deg,var(--background),#141a28,#141a28);
    overflow: hidden;
    padding: 0 2.5rem;
    padding-bottom: 5rem;
}
.title{
    display: flex;
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.sh-tray{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.sh-slide-wrapper{
    width: calc((100% - 5rem + 10px) / 8);
}
