.slide {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-rows: auto 16%;
  align-items: end;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 0.67;
}
.slide-container {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}
.movieImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
.image-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  background: var(--skeleton);
  aspect-ratio: 0.67;
}
.slide-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #192133, #192133);
  opacity: 0;
  transition: 0.3s ease-out;
  transition-delay: 0s;
}
.slideContents {
  position: relative;
  transition: 0.3s ease-out;
  transition-delay: 0s;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}
.movieLabel {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 500;
  width: calc(100% - 0.6rem);
}
.movieDescription {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  font-size: 0.55em;
  font-weight: 500;
  max-width: calc(100% - 0.6rem);
  line-height: 14px;
}
.bBtns {
  position: relative;
  transition: 0.3s ease-out;
  padding: 0.5rem;
  transition-delay: 0s;
  opacity: 0;
  z-index: 10;
}
.wmBtn,
.atfBtn {
  width: 100%;
  height: 18px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.5rem;
  background: rgba(255, 255, 255, 0);
  text-align: left;
  white-space: nowrap;
  border: none;
  border-radius: 2px;
  font-size: 8px;
  cursor: pointer;
}
.wmBtn:hover,
.atfBtn:hover {
  background: rgba(255, 255, 255, 0.123);
}
.watchMovie,
.addToFavourite {
  font-size: 8px;
  font-weight: 500;
}
.wmBtn i {
  font-size: 15px;
  margin-right: 10px;
}
.atfBtn i {
  font-size: 10px;
  margin-right: 10px;
  margin-left: -2px;
}

/* .active:nth-child(1){
    transform-origin: left;
}
.active:nth-child(8n+1){
    transform-origin: left;
}
.active:nth-child(8n){
    transform-origin: right;
} */
.active {
  z-index: 1;
  transition: all 0.3s ease, height;
}
.active:hover {
  transform: scale(1.2);
  transition-delay: 0.3s;
  z-index: 4;
}
.slide:hover .slide-container::after,
.slide:hover .slideContents,
.slide:hover .bBtns {
  opacity: 1;
  transition-delay: 0.3s;
}
@media only screen and (min-device-width: 0px) {
  .active:hover {
    transform: none !important;
  }
  .slide-container::after,
  .slideContents,
  .bBtns {
    display: none;
  }
}
