.alert-wrapper{
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 200;
}
.alert-container{
    position: absolute;
    display: grid;
    grid-template-rows: 33% 57%;
    place-items: center;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1;
    background: #182031;
    border-radius: 3px;
    animation: alert 1.5s;
    transform: translateY(-150%);
}
@keyframes alert{
    0%{
        transform: translateY(-150%);
    }20%{
        transform: translateY(0);
    }80%{
        transform: translateY(0);
    }100%{
        transform: translateY(-150%);
    }
}
.alert-container label{
    font-size: 2em;
    color: rgb(194, 194, 194);
}
.fa-check-circle{
    font-size: 4em;
    color: #1f80e0;
    margin-bottom: -10rem;
}
