body{
    background: var(--background);
    width: 100%;
    overflow-x: hidden;
}
.trayContainer{
    position: relative;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
}
.mlSlides{
    padding:0 2.5rem;
    height: 15vw;
}
.slide-loading{
    transform: translate(30px, -45px);
}
.slide-loading i{
    font-size: 30px;
}
.swiper-container{
    overflow: visible !important;
}
.mlSlides .swiper-button-next,
.mlSlides .swiper-button-prev {
    width: 50px;
    height: 232px;
    color: rgb(255, 255, 255) !important;
    top: 0;
    transform: translateY(-5px);
    margin: -0.4rem;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.mlSlides .swiper-button-prev{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0), var(--background));
    left: 0;
}
.mlSlides .swiper-button-next{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0),  var(--background));
    right: 0;
}
.mlSlides .swiper-button-next::after,
.mlSlides .swiper-button-prev::after {
    font-size: 32px;
    opacity: 1;
}
.mlSlides:hover .swiper-button-next,
.mlSlides:hover .swiper-button-prev {
    opacity: 1;
}

/* ///////////////////////////////////////////////////////////////// */

.mlSlides .swiper-slide{
    width: calc((100% - 5rem + 10px) / 8) !important;
    margin-right: 10px !important;
}
.list-title{
    position: absolute;
    top: -40px;
    left: 2.5rem;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(214, 214, 214);
    /* z-index: 10 ; */
}
