.navbar{
    box-sizing: border-box;
    width: 100%;
    padding: 35px 3.5rem 0 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    position: fixed;
    z-index: 20;
}
.hamburger{
    display: inline-block;
    /* margin-bottom: -5px; */
    margin-top: -2px;
    padding-right: 1rem;
}
.line{
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    margin-bottom: 3px;
}
.left{
    display: flex;
}
.disneyplus{
    transform: translate(0, -18px);
    padding-right: 1rem;
}
.kidsLogo{
    transform: translateY(-15px);
}
.left a{
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    padding-right: 2rem;
    line-height: 60%;
}
.right{
    display: flex;
    transform: translateY(-10px);
}
.search{
    width: 230px;
    height: 30px;
    color: var(--headerFC);
    font-weight: 400;
    border: none;
    background: none;
    border-bottom: 1px solid var(--headerFC);
    margin-right: 1rem;
    outline: none;
}
.search::placeholder{
    color: var(--headerFC);
}
.searchbox{
    display: flex;
    transform: translateY(-5px);
}
.searchbox span{
    transform: translate(-32px, 8px);
}
.right button{
    height: 22px;
    border: none;
    color: white;
    background: rgb(13, 146, 255);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 12px;
}
.right a{
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 1rem;
}