.footer {
  display: flex;
  flex-wrap: wrap;
  background: #0c111b;
  padding: 5.5rem 0.7rem;
  /* z-index: 400; */
  margin-top: auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  font-size: 0.75em;
  font-weight: 500;
  padding-right: 1.4rem;
  line-height: 30px;
}
.footer-left p {
  font-size: 0.65em;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 18px;
  margin-bottom: 14px;
}
.footer-left {
  flex-basis: 450px;
  flex-grow: 1;
}
.footer-right {
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
  justify-content: space-between;
}
.contactUs {
  margin-right: 2rem;
}
.contactUs label {
  font-size: 0.85em;
  font-weight: 500;
  white-space: nowrap;
  line-height: 20px;
  color: rgb(161, 161, 161);
}
.fb,
.tw {
  background: url("https://www.hotstar.com/assets/00dd72dcb62378da1988866159d26cca.svg")
    left bottom no-repeat;
  background-position: 0 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  text-decoration: none;
}
.tw {
  background-position: -45px 0;
}
.fb:hover {
  background-position: 0 -45px;
}
.tw:hover {
  background-position: -45px -45px;
}
.application {
  display: block;
  margin-top: 1.55rem;
  justify-content: right;
}
.application-title {
  position: relative;
}
.application-title::before {
  content: "Disney+ Hotstar App";
  position: absolute;
  top: -22px;
  font-size: 0.85em;
  font-weight: 500;
  white-space: nowrap;
  line-height: 15px;
  color: rgb(161, 161, 161);
}
.playstore,
.appstore {
  background: url("https://www.hotstar.com/assets/67764ffe0b6b18e06d60049a00c86335.svg")
    left bottom no-repeat;
  background-position: 0 0;
  width: 135px;
  height: 40px;
  display: inline-flex;
  margin-top: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.appstore {
  background-position: -140px 0;
}
.playstore:hover {
  background-position: 0 -50px;
}
.appstore:hover {
  background-position: -140px -50px;
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .footer {
    padding: 5rem 1.5rem;
  }
  .footer-link {
    font-size: 0.85em;
  }
  .footer-left p {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 20px;
    margin-bottom: 14px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .footer {
    padding: 5rem 1.5rem;
  }
  .footer-link {
    font-size: 0.85em;
  }
  .footer-left p {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 20px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .footer {
    padding: 4rem 1.5rem;
  }
  .application{
    display: flex;
  }
  .footer-link {
    font-size: 0.85em;
    line-height: 20px;
  }
  .footer-left p {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 2rem 1.5rem;
  }
  .footer-link {
    font-size: 0.85em;
    line-height: 20px;
  }
  .footer-left p {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 20px;
    width: 86%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .footer {
        padding: 2rem 2.5rem;
    }
    .application{
        display: block;
    }
    .footer-link {
        font-size: 0.85em;
        line-height: 20px;
      }
      .footer-left p {
        font-size: 0.75em;
        font-weight: 500;
        margin-top: 1rem;
        line-height: 20px;
        width: 86%;
      }
}
@media only screen and (min-width: 1201px) {
  .footer {
    padding: 2rem 2.5rem;
  }
  .application{
    display: flex;
  }
  .footer-link {
    font-size: 0.85em;
    line-height: 20px;
  }
  .footer-left p {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 20px;
    width: 86%;
  }
}
