.bannerWrapper .mySwiper {
  background: linear-gradient(0deg, var(--background), #141a28, #141a28);
}

.bContainer {
  margin: 0 0.6rem 2rem 0.6rem;
}

.banner {
  display: flex;
  position: relative;
  width: 100%;
  background: var(--bannerBG);
  border-radius: 5px;
  overflow: hidden;
  margin-right: -100px;
  cursor: pointer;
}

.bContents {
  position: absolute;
  width: 40%;
  padding: 4.5rem 2rem 4.5rem 3rem;
  z-index: 50;
}

.bTitle {
  font-size: 1.8em;
  font-weight: 800;
  padding-bottom: 0.8rem;
}

.bCategory {
  color: rgb(190, 190, 190);
  font-weight: 600;
}

.bDate {
  color: rgb(190, 190, 190);
  font-weight: 600;
  font-size: 0.95em;
}

.bDescription {
  font-weight: 500;
  font-size: 0.98em;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(218, 218, 218);
  margin-top: 0.8rem;
  line-height: 28px;
}
.imgWrapper {
  position: relative;
  margin-left: auto;
}
.imgWrapper:after {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, var(--bannerBG), rgba(255, 255, 255, 0));
}
.bImage {
  display: block;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 1.78;
  background-size: cover;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  width: 50px;
  height: 97%;
  top: 0;
  margin: -1rem;
}
.swiper-button-next::after {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f054" !important;
  color: rgb(255, 255, 255) !important;
}
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f053" !important;
  color: rgb(255, 255, 255) !important;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  transition: 0.5s;
  opacity: 0;
}

.mySwiper:hover .swiper-button-next::after,
.mySwiper:hover .swiper-button-prev::after {
  opacity: 1;
}
@media only screen and (max-width: 320px) {
  .bContainer {
    margin: 0 0.7rem 2rem 0.7rem;
  }
  .imgWrapper:after {
    display: none;
  }
  .bContents {
    height: 100%;
    width: 30%;
    padding: 8px 10px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.473),
      rgba(0, 0, 0, 0.699)
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .bContents * {
    line-height: initial;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
  }
  .bTitle {
    font-size: 0.85em;
  }
  .bCategory {
    font-size: 0.72em;
    line-height: 15px;
    font-weight: 500;
  }
  .bDescription {
    margin-bottom: 12px;
    font-size: 0.7em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .bContainer {
    margin: 0 0.7rem 2rem 0.7rem;
  }
  .imgWrapper:after {
    display: none;
  }
  .bContents {
    height: 100%;
    width: 30%;
    padding: 0 14px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.473),
      rgba(0, 0, 0, 0.699)
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .bContents * {
    line-height: initial;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
  }
  .bTitle {
    font-size: 0.85em;
  }
  .bCategory {
    font-size: 0.72em;
    line-height: 15px;
    font-weight: 500;
  }
  .bDescription {
    margin-bottom: 12px;
    font-size: 0.7em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 376px) and (max-width: 580px) {
  .bContainer {
    margin: 0 0.8rem 2rem 0.8rem;
  }
  .imgWrapper:after {
    display: none;
  }
  .bContents {
    height: 100%;
    width: 30%;
    padding: 0 14px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.473),
      rgba(0, 0, 0, 0.699)
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .bContents * {
    line-height: initial;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
  }
  .bTitle {
    font-size: 0.85em;
  }
  .bCategory {
    font-size: 0.72em;
    line-height: 15px;
    font-weight: 500;
  }
  .bDescription {
    margin-bottom: 12px;
    font-size: 0.7em;
    font-weight: 400;
  }
}

@media only screen and (min-width: 581px) and (max-width: 768px) {
  .bContainer {
    margin: 0 1.3rem 2rem 1.3rem;
  }
  .bContents {
    width: 31%;
    height: 100%;
    padding: 0 1.1rem;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.473),
      rgba(0, 0, 0, 0.699)
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .bContents * {
    line-height: initial;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
  }
  .bTitle {
    font-size: 1.4em;
  }
  .bCategory {
    font-size: 1em;
    line-height: 15px;
  }
  .bDescription {
    font-size: 0.88em;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .imgWrapper:after {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bContainer {
    margin: 0 2.5rem 2rem 2.5rem;
  }
}
@media only screen and (min-width: 1025px) {
  .bContainer {
    margin: 0 2.5rem 2rem 2.5rem;
  }
}
